body {
    padding-bottom: 40px;
}

a {
    color: rgba(57, 181, 74, 1);
}

main {
    overflow: hidden;
    margin-top: 50px
}

#show_profile {
    display: inline-block;
}

.profile_popup {
    background: #333;
    color: #fff;
    padding: 10px;
    /* width: 250px;*/
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 4;
}

.navbar-nav > li .profile_holder a {
    padding-top: 15px;
    padding-bottom: 15px;
}

main .container-fluid {
    background: url(../images/transparency.png) repeat #ccc;
    height: 360px;
    text-align: center;
    position: relative;
}

#toolbar {
    text-align: center;
    padding: 5px;
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ccc;
    z-index: 3;
}

#toolbar .btn {
    font-size: 10px;
    width: 44px;
    height: 44px;
    white-space: normal;
    padding: 32px 0 0 0;
	background: url(../images/icons.svg) no-repeat;
	background-size: 250px 97px;
	margin: 0 2px;
}
#toolbar #load_photo {
	background-position: 7px -10px;
}
#toolbar #load_photo:hover, #toolbar #load_photo:active, #toolbar #load_photo:focus  {
	background-position: 7px -56px;
}
#toolbar #take_snapshot {
	background-position: -116px -10px;
}
#toolbar #take_snapshot:hover, #toolbar #take_snapshot:active, #toolbar #take_snapshot:focus {
	background-position: -116px -56px;
}
#toolbar #reset {
	background-position: -34px -10px;
}
#toolbar #reset:hover, #toolbar #reset:active, #toolbar #reset:focus {
	background-position: -34px -56px;
}
#toolbar #crop_image {
	background-position: -72px -10px;
}
#toolbar #crop_image:hover, #toolbar #crop_image:active, #toolbar #crop_image:focus {
	background-position: -72px -56px;
}
#toolbar #save_image_button {
	background-position: -158px -10px;
}
#toolbar #save_image_button:hover, #toolbar #save_image_button:active, #toolbar #save_image_button:focus {
	background-position: -158px -56px;
}
#toolbar #share_picture {
	background-position: -205px -10px;
}
#toolbar #share_picture:hover, #toolbar #share_picture:active, #toolbar #share_picture:focus {
	background-position: -205px -56px;
}
.btn-default {
    border: none;
    background: transparent;
}

.btn-default:hover, .btn-default:active {
    color: rgba(57, 181, 74, 1);
    background: transparent;
}

#sticker_palette h3 {
    font-size: 18px;
}

.sticker_thumbnail {
    width: 76px;
    height: 76px;
    border: 1px solid #eee;
    margin: 5px;
    display: inline-block;
    text-align: center;
    overflow: hidden;
}

.sticker_thumbnail.selected, .sticker_thumbnail:hover {
    border-color: rgba(57, 181, 74, .9);
    box-shadow: 0 0 8px rgba(0, 0, 0, .3);
}

.sticker_thumbnail img {
    width: 100%;
    height: auto;
}

footer {
    background: #333;
    color: #ccc;
    text-align: center;
}

main .container-fluid > img {
    display: none;
}

@media screen and (min-width: 768px) {
    #toolbar {
        position: absolute;
        width: 68px;
        bottom: auto;
        top: 90px;
        left: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    #toolbar .btn {
        margin: 5px;
		padding: 0;
		text-indent: 53px;
		overflow: hidden;
    }
	#toolbar #load_photo {
	background-position: 6px -6px;
	}
	#toolbar #load_photo:hover, #toolbar #load_photo:active, #toolbar #load_photo:focus  {
		background-position: 6px -52px;
	}
	#toolbar #take_snapshot {
		background-position: -116px -6px;
	}
	#toolbar #take_snapshot:hover, #toolbar #take_snapshot:active, #toolbar #take_snapshot:focus {
		background-position: -116px -52px;
	}
	#toolbar #reset {
		background-position: -34px -6px;
	}
	#toolbar #reset:hover, #toolbar #reset:active, #toolbar #reset:focus {
		background-position: -34px -52px;
	}
	#toolbar #crop_image {
		background-position: -72px -6px;
	}
	#toolbar #crop_image:hover, #toolbar #crop_image:active, #toolbar #crop_image:focus {
		background-position: -72px -52px;
	}
	#toolbar #save_image_button {
		background-position: -158px -3px;
	}
	#toolbar #save_image_button:hover, #toolbar #save_image_button:active, #toolbar #save_image_button:focus {
		background-position: -158px -49px;
	}
	#toolbar #share_picture {
		background-position: -205px -6px;
	}
	#toolbar #share_picture:hover, #toolbar #share_picture:active, #toolbar #share_picture:focus {
		background-position: -205px -52px;
	}
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    main .container-fluid {
        height: 430px;
    }

    .profile_popup {
        display: none;
        position: absolute;
        border-radius: 0 0 3px 3px;
        width: 250px;
        right: 0px;
    }

    .profile_holder:hover .profile_popup {
        display: block;
    }

    .btn-default {
        border: 1px solid #ccc;
        background-color: #fff;
    }

    .btn-default:hover {
        border-color: #999;
        background-color: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    }

    .sticker_thumbnail {
        width: 130px;
        height: 130px;
        border: 1px solid #eee;
        margin: 5px;
        display: inline-block;
        text-align: center;
        overflow: hidden;
    }

    .sticker_holder {
        text-align: center;
    }

    #sticker_palette h3 {
        font-size: 24px;
    }
}

@media screen and (min-width: 768px) {
    .sticker_thumbnail {
        width: 150px;
        height: 150px;
    }
}

/******=====================================
Image editor from tutorial*/

.resize-container {
    position: absolute;
    display: inline-block;
    cursor: move;
    margin: 0 auto;
    left: 50%;
    top: 50%;
}

.resize-container img {
    display: block;
}

.selected.resize-container img {
    outline: 1px dashed rgba(57, 181, 74, .5);
}

.selected.resize-container:hover img,
.selected.resize-container:active img {
    outline: 2px dashed rgba(57, 181, 74, .9);
}

.selected .resize-handle-ne,
.selected .resize-handle-ne,
.selected .resize-handle-se,
.selected .resize-handle-nw,
.selected .resize-handle-sw {
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background: rgba(57, 181, 74, .9);
    z-index: 2;
}

.resize-handle-nw {
    top: -5px;
    left: -5px;
    cursor: nw-resize;
}

.resize-handle-sw {
    bottom: -5px;
    left: -5px;
    cursor: sw-resize;
}

.resize-handle-ne {
    top: -5px;
    right: -5px;
    cursor: ne-resize;
}

.resize-handle-se {
    bottom: -5px;
    right: -5px;
    cursor: se-resize;
}

.overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
    z-index: 2;
    width: 300px;
    height: 300px;
    border: solid 2px rgba(57, 181, 74, .9);
    box-sizing: content-box;
    pointer-events: none;
}

.overlay:after,
.overlay:before {
    content: '';
    position: absolute;
    display: block;
    width: 304px;
    height: 40px;
    border-left: dashed 2px rgba(57, 181, 74, .9);
    border-right: dashed 2px rgba(57, 181, 74, .9);
}

.overlay:before {
    top: 0;
    margin-left: -2px;
    margin-top: -40px;
}

.overlay:after {
    bottom: 0;
    margin-left: -2px;
    margin-bottom: -40px;
}

.overlay-inner:after,
.overlay-inner:before {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 304px;
    border-top: dashed 2px rgba(57, 181, 74, .9);
    border-bottom: dashed 2px rgba(57, 181, 74, .9);
}

.overlay-inner:before {
    left: 0;
    margin-left: -40px;
    margin-top: -2px;
}

.overlay-inner:after {
    right: 0;
    margin-right: -40px;
    margin-top: -2px;
}

/*--------------------- welcome screen*/
#welcome_screen {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    /*color: #fff;*/
    overflow-y: scroll;
}

.welcome_holder {
    width: 300px;
    border-radius: 3px;
    margin: 30px auto;
}

.action {
    background: url(../images/login_screen.jpg) no-repeat center top #76b819;
    background-size: 100%;
    padding: 20px 10px;
    border-radius: 3px;
}

.banner {
    display: none;
}

.welcome_holder h1 {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 15px;
	color: #fff;
}

.welcome_holder h2 {
    margin: 0px;
    min-height: 68px;
}

.welcome_holder .row {
    margin-right: 0;
    margin-left: 0;
}

.step {
    text-align: left;
    padding: 0 20px;
    color: #333;
}

.step span {
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #fff;
    color: #fff;
    font-weight: bold;
    padding: 2px;
    width: 26px;
    height: 26px;
    text-align: center;
    margin-right: 3px;
}

.welcome_holder #login_form, .welcome_holder #register_form {
    text-align: left;
    color: #333;
    padding: 5px 30px;
}

input {
    border-radius: 3px;
    border: none;
    background-color: #fff;
    padding: 3px;
}

.welcome_holder #login_form input, .welcome_holder #register_form input {
    width: 100%;
    font-size: 18px;
    margin: 3px 0;
}

.welcome_holder button {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 5px;
    margin: 18px 0 0 0;
	width: 100%;
	border-radius: 3px;
}

.welcome_holder button:hover, .welcome_holder button:active {
    background-color: rgba(255, 255, 255, .7);
    color: rgba(57, 181, 74, 1);
}

#sliding_container {
    overflow: hidden;
}

#sliding_container .slideable {
    width: 600px;
    -webkit-transition: margin 0.5s;
    transition: margin 0.5s;
	margin-left: -15px;
}

.slideable > div {
    padding-left: 22px;
}

#sliding_container .slideable.slided {
    margin-left: -315px;
}

#sliding_container p {
    margin-top: 5px;
    margin-bottom: 10px;
    color: #333;
}

#switch_to_register, #switch_to_login {
    color: #fff;
	cursor: pointer;
}

@media screen and (min-width: 768px) {
    .welcome_holder {
        width: 600px;
        border-radius: 3px;
        margin: 30px auto;
        background: url(../images/banner.jpg) no-repeat left top #ccc;;
        background-size: auto 100%
    }

    .welcome_holder .row {
        margin-right: -15px;
        margin-left: -15px;
    }

    .action {
        border-radius: 0px 3px 3px 0px;
    }

    .banner {
        display: block;
    }
}

/*--------------------- end welcone screen*/


/*--------------------- Facebook popup*/

#popup_to_share {
	position: fixed;
	z-index: 11;
	background: rgba(0,0,0,0.7);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-x: scroll;
}
#popup_to_share .container {
	background: #fff;
	border-radius: 3px;
	margin: 30px auto;
	padding: 0;
	text-align: center;
	width: 300px;
	
}
#popup_to_share .row {
	padding: 0;
}
#popup_to_share .col-sm-4 {
	margin: 0;
}
#popup_to_share button {
	border-top: 1px solid #ccc;
	padding: 10px;
	font-size: 18px;
	width: 100%;
}
#popup_to_share button.close {
	border-top: 0;
}
#img_to_share {
	border: 2px solid #ccc;
}
.fbLoginContainer {
	padding: 10px 0;
}
#to_detach {
	margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
	#popup_to_share .container {
		padding: 30px;
		width: 600px;
	}
	#popup_to_share button {
		padding: 6px 12px;
		font-size: 14px;
		width: auto;
	}
	.fbLoginContainer {
		margin: 10px;
	}
	#img_to_share {
		margin: 30px 0;
	}
	.fb_iframe_widget.fb-like {
		margin: 5px;
		float: right;
	}
}

#fileInput {
    position: fixed;
    top: -1000px;
    overflow: hidden;
}

video {
    width: 307px;
    height: 300px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #ccc;
    top: 65px;
    left: 600px;
    position: absolute;
}

#shot {
    border: 1px solid #ccc;
    width: 350px;
    height: 250px;
}

#camera {
    display: none;
}

#shotButtonWrapper {
    display: none;
    top: 385px;
    left: 700px;
    position: absolute;
}

input[type=file] {
    display: none;
}
.hidden{
	visibility: none;
}
