body {
	padding-bottom: 40px;
}
a {
	color: rgba(57,181,74,1);
}
main {
	overflow: hidden;
	margin-top: 50px
}
#show_profile {
    display: inline-block;
}
.profile_popup {
    background: #333;
    color: #fff;
    padding: 10px;
   /* width: 250px;*/
}
header{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 4;
}
.navbar-nav>li .profile_holder a {
    padding-top: 15px;
    padding-bottom: 15px;
}
main .container-fluid {
    background: url(../images/transparency.png) repeat #ccc;
    height: 360px;
    text-align: center;
	position: relative;
}

#toolbar {
    text-align: center;
    padding: 5px;
    background: rgba(255,255,255,0.9);
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ccc;
	z-index: 3;
}
#toolbar .btn {
    font-size: 10px;
    width: 44px;
    height: 44px;
    white-space: normal;
    padding: 0;
}
.btn-default {
	border: none;
	background: transparent;
}
.btn-default:hover, .btn-default:active {
	color: rgba(57,181,74,1);
	background: transparent;
}
#sticker_palette h3 {
	font-size: 18px;
}
.sticker_thumbnail {
    width: 76px;
    height: 76px;
    border: 1px solid #eee;
    margin: 5px;
    display: inline-block;
    text-align: center;
	overflow: hidden;
}
.sticker_thumbnail.selected, .sticker_thumbnail:hover {
	border-color: rgba(57,181,74,.9);
	box-shadow: 0 0 8px rgba(0,0,0,.3);
}
.sticker_thumbnail img{
	width: 100%;
	height: auto;
}

footer {
        background: #333;
        color: #ccc;
        text-align: center;
}
main .container-fluid > img {
	display: none;
}

@media screen and (min-width: 768px) {
    #toolbar {
        position: absolute;
        width: 68px;
        bottom: auto;
        top: 90px;
        left: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }
	#toolbar .btn {
		margin: 5px;
	}
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
	main .container-fluid {
		height: 430px;
	}
	.profile_popup {
		display: none;
		position: absolute;
		border-radius: 0 0 3px 3px;
		width: 250px;
		right: 0px;
	}
	.profile_holder:hover .profile_popup {
		display: block;
	}
	.btn-default {
		border: 1px solid #ccc;
		background-color: #fff;
	}
	.btn-default:hover {
		border-color: #999;
		background-color: #fff;
		box-shadow: 0 0 5px rgba(0,0,0,.3);
	}
	.sticker_thumbnail {
		width: 130px;
		height: 130px;
		border: 1px solid #eee;
		margin: 5px;
		display: inline-block;
		text-align: center;
		overflow: hidden;
	}
	.sticker_holder {
		text-align: center;
	}
	#sticker_palette h3 {
		font-size: 24px;
	}
}
@media screen and (min-width: 768px) {
	.sticker_thumbnail {
		width: 150px;
		height: 150px;
	}
}
/******=====================================
Image editor from tutorial*/

.resize-container {
    position: absolute;
    display: inline-block;
    cursor: move;
    margin: 0 auto;
	left: 50%;
    top: 50%;
}

.resize-container img {
    display: block;
}
.selected.resize-container img {
    outline: 1px dashed rgba(57,181,74,.5);
}
.selected.resize-container:hover img,
.selected.resize-container:active img {
    outline: 2px dashed rgba(57,181,74,.9);
}

.selected .resize-handle-ne,
.selected .resize-handle-ne,
.selected .resize-handle-se,
.selected .resize-handle-nw,
.selected .resize-handle-sw {
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background: rgba(57,181,74,.9);
    z-index: 2;
}

.resize-handle-nw {
    top: -5px;
    left: -5px;
    cursor: nw-resize;
}

.resize-handle-sw {
    bottom: -5px;
    left: -5px;
    cursor: sw-resize;
}

.resize-handle-ne {
    top: -5px;
    right: -5px;
    cursor: ne-resize;
}

.resize-handle-se {
    bottom: -5px;
    right: -5px;
    cursor: se-resize;
}
.overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
    z-index: 2;
    width: 300px;
    height: 300px;
    border: solid 2px rgba(57,181,74,.9);
    box-sizing: content-box;
    pointer-events: none;
}

.overlay:after,
.overlay:before {
    content: '';
    position: absolute;
    display: block;
    width: 304px;
    height: 40px;
    border-left: dashed 2px rgba(57,181,74,.9);
    border-right: dashed 2px rgba(57,181,74,.9);
}

.overlay:before {
    top: 0;
    margin-left: -2px;
    margin-top: -40px;
}

.overlay:after {
    bottom: 0;
    margin-left: -2px;
    margin-bottom: -40px;
}

.overlay-inner:after,
.overlay-inner:before {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 304px;
    border-top: dashed 2px rgba(57,181,74,.9);
    border-bottom: dashed 2px rgba(57,181,74,.9);
}

.overlay-inner:before {
    left: 0;
    margin-left: -40px;
    margin-top: -2px;
}

.overlay-inner:after {
    right: 0;
    margin-right: -40px;
    margin-top: -2px;
}
/*--------------------- welcone screen*/
#welcome_screen {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    text-align: center;
    background-color: rgba(0,0,0,0.7);
	color: #fff;
	overflow-y: scroll;
}
.welcome_holder {
    width: 300px;
    border-radius: 3px;
	margin: 30px auto;
}
.action {
	background: url(../images/login_screen.jpg) no-repeat center top #76b819;
	background-size: 100%;
    padding: 20px 10px;
	border-radius: 3px;
}
.banner {
	display: none;
}
.welcome_holder h1 {
	font-size: 26px;
	margin-top: 0px;
	margin-bottom: 20px;
}
.welcome_holder h2 {
	margin-bottom: 0px;
}
.welcome_holder .row {
	margin-right: 0;
    margin-left: 0;
}
.step {
	text-align: left;
	padding: 0 20px;
	color: #333;
}
.step span {
	display: inline-block;
	border-radius: 50%;
	border: 1px solid #fff;
	color: #fff;
	font-weight: bold;
	padding: 2px;
	width: 26px;
	height: 26px;
	text-align: center;
	margin-right: 3px;
}
.welcome_holder form {
	text-align: left;
    color: #333;
    padding: 5px 30px;
}
input {
	border-radius: 3px;
	border: none;
	background-color: #fff;
	padding: 3px;
}
.welcome_holder form input {
	width: 100%;
	font-size: 18px;
	margin:  3px 0

}
.login {
	background: transparent;
	border: 2px solid #fff;
	color: #fff;
	padding: 5px;
}
.login:hover, .login:active {
	background-color: rgba(255,255,255,.7);
	color: rgba(57,181,74,1);
}
@media screen and (min-width: 768px) {
	.welcome_holder {
		width: 600px;
		border-radius: 3px;
		margin: 30px auto;
		background: url(../images/banner.jpg) no-repeat left top #ccc;;
		background-size: auto 100%
	}
	.welcome_holder .row {
		margin-right: -15px;
		margin-left: -15px;
	}
	.action {
		border-radius: 0px 3px 3px 0px;
	}
	.banner {
		display: block;
	}
}
/*--------------------- end welcone screen*/
#fileInput{
    position: fixed;
    top: -1000px;
}

video {
    width: 307px;
    height: 300px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #ccc;
    top: 65px;
    left: 600px;
    position: absolute;
}

#shot {
    border: 1px solid #ccc;
    width: 350px;
    height: 250px;
}

#camera {
    display: none;
}

#shotButtonWrapper {
    display: none;
    top: 385px;
    left: 700px;
    position: absolute;
}