#show_profile {
    display: inline-block;
}
.profile_popup {
    display: none;
}
.profile_holder:hover .profile_popup {
        display: block;
        position: absolute;
        background: #333;
        color: #fff;
        padding: 10px;
        border-radius: 0 0 3px 3px;
        width: 250px;
        right: 0px;
}
.navbar-nav>li .profile_holder a {
    padding-top: 15px;
    padding-bottom: 15px;
}
main .container-fluid {
    background-color: #ccc;
    height: 500px;
    text-align: center;
	position: relative;
}
#toolbar {
    text-align: center;
    padding: 5px;
    background: rgba(255,255,255,0.7);
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ccc;
}
#toolbar .btn {
    font-size: 10px;
    width: 44px;
    height: 44px;
    margin: 5px;
    white-space: normal;
    padding: 0;
}
.sticker_thumbnail {
    width: 150px;
    height: 150px;
    border: 1px solid #eee;
    margin: 5px;
    display: inline-block;
    text-align: center;
}
.sticker_holder {
    text-align: center;
}
footer {
        background: #333;
        color: #ccc;
        text-align: center;
}
@media screen and (min-width: 768px) {
    #toolbar {
        position: absolute;
        width: 68px;
        bottom: auto;
        top: 90px;
        left: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}
/******=====================================
Image editor from tutorial*/

.resize-container {
    position: relative;
    display: inline-block;
    cursor: move;
    margin: 0 auto;
}

.resize-container img {
    display: block
}

.resize-container:hover img,
.resize-container:active img {
    outline: 2px dashed rgba(222,60,80,.9);
}

.resize-handle-ne,
.resize-handle-ne,
.resize-handle-se,
.resize-handle-nw,
.resize-handle-sw {
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background: rgba(222,60,80,.9);
    z-index: 999;
}

.resize-handle-nw {
    top: -5px;
    left: -5px;
    cursor: nw-resize;
}

.resize-handle-sw {
    bottom: -5px;
    left: -5px;
    cursor: sw-resize;
}

.resize-handle-ne {
    top: -5px;
    right: -5px;
    cursor: ne-resize;
}

.resize-handle-se {
    bottom: -5px;
    right: -5px;
    cursor: se-resize;
}
.overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
    z-index: 999;
    width: 300px;
    height: 300px;
    border: solid 2px rgba(222,60,80,.9);
    box-sizing: content-box;
    pointer-events: none;
}

.overlay:after,
.overlay:before {
    content: '';
    position: absolute;
    display: block;
    width: 304px;
    height: 40px;
    border-left: dashed 2px rgba(222,60,80,.9);
    border-right: dashed 2px rgba(222,60,80,.9);
}

.overlay:before {
    top: 0;
    margin-left: -2px;
    margin-top: -40px;
}

.overlay:after {
    bottom: 0;
    margin-left: -2px;
    margin-bottom: -40px;
}

.overlay-inner:after,
.overlay-inner:before {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 304px;
    border-top: dashed 2px rgba(222,60,80,.9);
    border-bottom: dashed 2px rgba(222,60,80,.9);
}

.overlay-inner:before {
    left: 0;
    margin-left: -40px;
    margin-top: -2px;
}

.overlay-inner:after {
    right: 0;
    margin-right: -40px;
    margin-top: -2px;
}

.btn-crop {
    position: absolute;
    vertical-align: bottom;
    right: 5px;
    bottom: 5px;
    padding: 6px 10px;
    z-index: 999;
    background-color: rgb(222,60,80);
    border: none;
    border-radius: 5px;
    color: #FFF;
}